<div
  class="h-full flex bg-primary-50 dark:bg-primary-950 text-primary-900 dark:text-primary-50 overflow-hidden"
>
  <div class="max-w-[340px] px-[10px] m-auto flex-grow">
    <div class="flex items-center flex-col gap-y-3 md:gap-y-8">
      <app-chip [variant]="variant"></app-chip>
      <app-timer></app-timer>
      <div class="flex items-center gap-x-2 xs:gap-x-4">
        <app-button size="md" variant="secondary">
          <svg-icon
            src="/assets/icons/ph_dots-three-outline-fill.svg"
          ></svg-icon>
        </app-button>
        <app-button size="lg" variant="primary">
          <svg-icon src="/assets/icons/ph_play-fill.svg"></svg-icon>
        </app-button>
        <app-button (click)="changeState()" size="md" variant="secondary">
          <svg-icon src="/assets/icons/ph_fast-forward-fill.svg"></svg-icon>
        </app-button>
      </div>
    </div>
  </div>
</div>
